<app-navigation></app-navigation>

<div class="ui ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
</div>

<div class="ui-g-12 ui-sm-7 ui-md-8 ui-md-offset-1 ui-lg-11 ui-lg-offset-1 ui-xl-9 table-bordered">
  <div class="ui-g-12 ui-sm-7 ui-md-8 ui-md-offset-1  ui-lg-11 ui-lg-offset-1 ui-xl-9 title">
    <b>{{ticket?.title}}</b>
  </div>
  
  <!-- <div class="ui-g-12 ui-sm-3 ui-md-2 ui-lg-1 ui-xl-1 tanggal">
    <i>tanggal</i>
  </div> -->
  
  <div class="ui-g-12 ui-sm-7 ui-md-8 ui-md-offset-1 ui-lg-1 ui-lg-offset-1 ui-xl-9 form-group status">
    <select id="my-select" class="custom-select" name="" (change)=onChangeStatus($event)>
      <option value="{{ticket?.status}}">{{ticket?.status | titlecase }}</option>
      <option value="open">Open</option>
      <option value="close">Close</option>
      <option value="reopen">Re-Open</option>
    </select>
  </div>
  
  <div class="ui-g-12 ui-sm-7 ui-md-8 ui-lg-1 ui-xl-9 name">
    <b>{{ticket?.customer.name}}</b>
  </div>
  
  <div class="ui-g-12 ui-sm-7 ui-md-8 ui-lg-2 ui-xl-9 tanggal">
    <i class="fa fa-calendar-o" aria-hidden="true"></i>
    {{ ticket?.ticketDate | date}}
  </div>
  
</div>

<table class="ui-g-12 ui-sm-9 ui-md-10 ui-md-offset-1 ui-lg-11 ui-lg-offset-0 ui-xl-10 table-bordered">
  <ng-container *ngFor="let tkt of ticket?.details">
    <!-- <div class="ui-g-12 ui-sm-7 ui-md-10 ui-md-offset-1 ui-lg-6 ui-lg-offset-0 ui-xl-9 detail-name header">
      <b>{{ tkt.sender }}</b>
      <p><i class="fa fa-calendar-o" aria-hidden="true"></i>
        {{ tkt.messageDate | date }}
      </p>
    </div>
    
    <div class="card-body">
      {{ tkt.message }}
    </div> -->
    
    <ng-container *ngIf="tkt.sender === defaultSender ; else elseTemplate">
      
      <div class="ui-g-12 ui-sm-7 ui-md-10 ui-md-offset-1 ui-lg-6 ui-lg-offset-0 ui-xl-9 detail-name header">
        <b>{{ identityAgent }}</b>
        <p><i class="fa fa-calendar-o" aria-hidden="true"></i>
          {{ tkt.messageDate | date }}
        </p>
      </div>
      
      <div class="card-body">
        {{ tkt.message }}
      </div>
    </ng-container>
    
    <ng-template #elseTemplate>
      <div class="ui-g-12 ui-sm-7 ui-md-10 ui-md-offset-1 ui-lg-6 ui-lg-offset-6 ui-xl-9 detail-name header">
        <b>{{ identityCustomer }}</b>
        <p><i class="fa fa-calendar-o" aria-hidden="true"></i>
          {{ tkt.messageDate | date }}
        </p>
      </div>
      
      <div class="ui-lg-offset-6 card-body">
        {{ tkt.message }}
      </div>
    </ng-template>
    
    <!-- <div class="card-body float-right">
      {{ tkt.message }}
    </div> -->
  </ng-container>
</table>


<!-- <div class="ui-g-12 ui-sm-9 ui-md-10 ui-md-offset-1 ui-lg-8 ui-lg-offset-2 ui-xl-10 input-text">
  <div class="input-editor">
    <p-editor [(ngModel)]="text" [style]="{'height':'250px'}" class="text-editor">
      <p-header>
        <span class="ql-formats">
          <button class="ql-bold" aria-label="Bold"></button>
          <button class="ql-italic" aria-label="Italic"></button>
          <button class="ql-underline" aria-label="Underline"></button>
        </span>
      </p-header>
    </p-editor>
  </div>
  
  <div class="card-footer col-sm-12" align="right" style="color: ">
    <button pButton type="button" label="Comment" class="ui-button-success "></button>
  </div>
</div> -->

<ng-container *ngIf="role != 'admin'; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
  <section id="kolomJawaban" class="pb-5">
    <form [formGroup]="pesan" (ngSubmit)="sendMessage()">    
      <div class="col-sm-8 mx-auto">
        <div class="card shadow-lg">
          <div class="card-body">
            <div class="content-section implementation">
              
              
              <div class="input-editor">
                <div class="form-group">
                  <label for=""></label>
                  <textarea class="form-control" name="" id="" rows="3" formControlName="message"></textarea>
                </div>
              </div>
              
              <div class="form-group">
                <label for="">Screenshoot</label>
                <input type="file" class="form-control-file" (change)="onFileSelected($event)" aria-describedby="fileHelpId">
                <img [src]="pathImg" *ngIf="pathImg" class="img-fluid rounded" alt="">
              </div>
            </div>
          </div>
          
          <div class="card-footer col-sm-12" align="right">
            <button pButton type="submit" label="Kirim" class="ui-button-success "></button>
          </div>
        </div>
      </div>
      
    </form>
  </section>
</ng-template>
<ng-template #elseTemplate>
  
</ng-template>

<a (click)="scrollTo('#kolomJawaban')" class="float">
  <i class="fa fa-reply my-float"></i>
</a>