.body {
    font-family: roboto-regular, sans-serif;
}

.table-bordered {
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2%;
}

.login-title {
    color: #3a3a3a;
    font-size: 18px;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 30px;
}

.sub-title {
    font-size: 14px;
    margin-bottom: 0;
    color: #3a3a3a;
}

.form-reset {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.ui-button {
    font-size: 16px;
    margin-top: 20px;
}

.logo-title {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #3a3a3a;
    margin-bottom: 15px;
}

.input-password {
    margin-top: 20px;
    font-size: 14px;
}

